body{
    padding: 0;
    margin: 0;
}

header{
    height: 15%;
    background-image: url(sky.jpeg);
    border-bottom: solid;
    border-width: 3px;
}

h1{
    text-align: center;
    padding-top: 1.5%;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(162, 160, 160);
}


li a {
    display: block;
    color: rgb(217, 12, 159);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-family: fantasy;
}

li a:hover{
    color: aqua;
}

footer{
    position: relative;
    bottom:0;
    height: 20vh;
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    margin-top: 1400px;
    border: solid;
    border-color: black;
}

.fa-youtube{
    color: rgb(0, 255, 81);
}

.fa-instagram{
    color: linear-gradient(rgb(0, 0, 0), violet,blue,black);;
    background-image: linear-gradient(black, violet,blue,black);;
}