body{
    padding: 0;
    margin: 0;
}

header{
    height: 15%;
    background-image: url(sky.jpeg);
    border-bottom: solid;
    border-width: 3px;
}

h1{
    text-align: center;
    padding-top: 1.5%;
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(162, 160, 160);
}

li a {
    display: block;
    color: rgb(217, 12, 159);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.navbar{
font-family: 'Times New Roman', Times, serif;
color: blueviolet;
}